<div class="container">
    <h1 class="text-center display-3 mb-5">Pesquisa de salas - CFH</h1>

    {{!-- <form action="/getNomeDisciplina" method="post">
        <div class="input-group mb-3 mt-3 input-group-lg col-md-12 justify-content-center">
            <input type="text" class="form-control col-md-6" id="nomeDisciplina" aria-describedby="" placeholder="Tópicos Especiais I"
                name="nomeDisciplina" disabled>
            <button class="btn btn-outline-primary form-control col-md-2" type="submit" id="button-addon1" disabled>Pesquisar</button>
        </div>
    </form>

    <div class="input-group justify-content-center mt-3 mb-3">
        <h2 class="text-center">OU</h2>
    </div> --}}
    <form action="/getIdDisciplina" method="post">
        <div class="input-group mb-3 mt-3 input-group-lg col-md-12 justify-content-center">
            <input type="text" class="form-control col-md-6" name="IdDisciplina" placeholder="Ex: MEN7027" aria-label="Recipient's username"
                aria-describedby="button-addon2" oninvalid="this.setCustomValidity('Insira uma disciplina')" oninput="this.setCustomValidity('')"required>
            <button class="btn btn-primary form-control col-md-2" type="submit" id="button-addon2">PESQUISAR</button>
        </div>
    </form>

    {{#if condicao}} 
        {{#each resultado}}
            <div class="input-group mb-3 mt-3 input-group-lg col-md-12 justify-content-center">
                <div class="alert alert-success col-md-8 mx-auto text-center" role="alert">Disciplina encontrada na sala: {{this}}</div>
            </div>
    {{/each}} 
    {{else}} 
        {{#if condicao2}}
            <div class="input-group mb-3 mt-3 input-group-lg col-md-12 justify-content-center">
                <div class="alert alert-danger col-md-8 mx-auto text-center" role="alert">Disciplina ({{disciplina}}) não encontrada, verifique novamente!</div>
            </div>
    {{/if}} {{/if}}


<div class="card border-light mt-5">
    <div class="card-body text-primary">
        <h5 class="card-title">Como utilizar a busca de salas?</h5>
        <p class="card-text">Se você ainda tem dúvida em qual sala está ocorrendo sua aula basta apenas digitar o nome da disciplina ou então
            o identificador dela. Após pesquisar a disciplina inserida o sistema retornará o local correto, entretando se
            possuir duas ou mais salas, elas também serão exibidas. Lembre-se de digitar corretamente o nome e/ou identificador,
            caso contrário não será possível achar a sala.</p><br>
        <p>Salas com mais de uma sala alocada irá retornar todas as ocorrências, verifique junto ao cagr qual sala está alocada para o dia da semana.</p>
    </div>
</div>
</div>