<div class="container-fluid">
    <h1>Busca de salas CFH</h1>
    <p>Welcome to {{title}}</p>

    <p>
  <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
    Como usar?
  </button>
</p>
    <div class="collapse" id="collapseExample">
        <div class="card border-primary mb-3">
            <div class="card-body text-primary">
                <p class="card-text">Para utilizar a busca de salas basta apenas digitar o identificador da matéria ou o nome completo da disciplina e clicar em buscar.</p>
            </div>
        </div>
    </div>
</div>


