body {
  padding: 20px;
  background: #3373C1;
}

.border-light{
  border-color: #52AFE5;
  background: #224D81;
}
h1,h5{
  font-family: 'Roboto', sans-serif;
  font-bold: 500;
  color: #fff;
}

p{
  font-family: 'Raleway', sans-serif;
  font-bold: 500;
  color: #fff;
}

#button-addon2{
  border: none;
  background-color: #26C196;
  color: #FFF;
  font-size: 1.3em;
}

input[type="text"], textarea {
  outline: none;
  box-shadow:none !important;
  border:1px solid #fff !important;
}
input[type="text"]:active{
  color: #224d81;
}